.light {
  width: 50px;
  height: 50px;
  border: 1px dotted black;
}

.light-on {
    background-color: lightgreen;
}

.light-off {
    background-color: grey;
    color: white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 50px);
  gap: 5px;
}